
 <!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body style = "background-color:lightblue">

<h1 align="center">Machine Learning Models Tutorials</h1>
<div align="center">
<h3>Accuracy of Model on Test Data is {{accuracy}}%</h3>
<h4>Data Representation Before Applying Linear Regression</h4>
<img src="{{url_for('static', filename=graph1)}}" />
<h4> Data Representation After Applying Linear Regression </h4>
<img src="{{url_for('static', filename=graph2)}}" />
</div>
</body>
</html> 